---
layout: default
title: Home
---
<meta property="og:image" content="{{ site.baseurl }}/public/images/sontag.png" />

<!-- <p>Reading scientific papers sounds hard, but it's easy if you start small.</p> -->
<!-- <p>Learning about research in a new area can be daunting, so it's best to start small.</p> -->
<img src="{{ site.baseurl }}/public/images/sontag.png" alt="Susan Sontag in a bear costume" style="padding: 0px 0px 0px 0px; width: 100%; min-width: 310px;">

<p>Each week, I'll pick a simple topic&mdash;think "fire," "dirt," or "orca whales"&mdash;and read a recent science paper related to that idea. I'll then share what I learned in a quick five-minute email. The goal of these weekly emails is to be an easy way to learn something new about different areas of research.</p>

<b><center>Sign up for a weekly email</center></b>
{% include signup.html %}

<br><small>* Note: I am not the woman in the bear costume. That is Susan Sontag.</small>
<!--End mc_embed_signup-->

<hr>
<div class="posts">
  {% for post in paginator.posts reversed %}
  {% if forloop.last == false %}
  <div class="">
    <h2 class="post-title">
      <a href="{{ site.url }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }}</span>
  </div>
  {% endif %}
  {% endfor %}
</div>
