---
layout: default
---
<img src="{{ site.baseurl }}/public/images/sontag.png" alt="Susan Sontag in a bear costume" style="padding: 0px 0px 0px 0px; width: 100%; min-width: 310px;">

<p>Every so often I pick a simple topic&mdash;think "fire," "dirt," or "orca whales"&mdash;and read a recent science paper related to that idea. I then share what I learned in a quick five-minute email. The goal of these emails is to be an easy way to learn something new about different areas of research.</p>

<b><center>Sign up for an occasional email</center></b>
{% include signup.html %}

<br><small>* Note: I am not the woman in the bear costume. That is Susan Sontag.</small>
<!--End mc_embed_signup-->

<hr>
<div class="posts">
  {% for post in paginator.posts reversed %}
  {% if forloop.last == false %}
  <div class="post-container" style="clear: both; overflow: auto; padding-bottom: 20px;">
    <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.baseurl }}/public/images/banners/week{{post.number}}.png" alt="{{ post.banner_source }}" style="width: 25%; margin-bottom: 0px; min-width: 200px; float: left; margin-right: 5%;"></a>
    <div class="post-summary" style="overflow: auto; float: left; width: 50%;">
      <h2 class="post-title">
        <a href="{{ site.url }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h2>
      <span class="post-date">{{ post.date | date_to_string }}</span>
    </div>
    <!--<span class="post-tag">{{ post.tagline }}</span>-->
  </div>
  {% endif %}
  {% endfor %}
</div>
